.w {color: #129219;
background-color: #123456;
}

.w {color: #129219;
background-color: #123456;
}
.wt{color: #129219;
background-color: #123    }

.wr{color: #129224    
background-color: #123486;
}

.w {color: #129219       
background-color: #129456;
}
.wy {color: #129219;
background-color: #122456;
}
.wr {color: #129219;
background-color: #423456;
}
.ww {color: #129219;
background-color: #123476;

background-color: #163456;
}
.wy{color: #129219;
 background-color: #193456;
}