#1{
    color: rgb(rgb(14, 228, 32), rgba(4, 140, 252, 0.842), rgb(189, 26, 153));
}

#2{
    color: rgb(rgb(14, 221, 32), rgba(9, 190, 100, 0.842), rgb(189, 26, 153));
}

#3{
    color: rgb(rgb(14, 228, 32), rgba(4, 140, 252, 0.842), rgb(189, 26, 153));
}

#4{
    color: rgb(rgb(14, 228, 32), rgba(4, 140, 252, 0.842), rgb(189, 26, 153));
}

#5{
    color: rgb(rgb(14, 228, 32), rgba(4, 140, 252, 0.842), rgb(189, 26, 153));
}